@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 40px;
    background:#1877F2;
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 35px 35px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    
}

.user-input-box label{
    width: 95%;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input {
    position: relative;
    height: 50px;
    width: 95%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    margin-top: 8px;
    justify-content: space-between;
   /* font-size: medium;
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;*/
}
.user-input-box select {
    font-size: 1rem;
    height: 50px;
    width: 95%;
    border-radius: 6px;
    color: #707070;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 15px;
    margin-top: 8px;
}
.user-input-box option {
    font-size: medium;
    font-style: inherit;

}
.gender-title{
    color:#333;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: #707070;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: rgba(31, 106, 245, 0.733);
}

.form-submit-btn input:hover{
    background: rgba(9, 92, 248, 0.733);
    
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
.upload{
    width: 100px;
    position: relative;
    margin: auto;
  }
  
  .upload img{
    width: 100px;
    height: 100px;
    
    
    border-radius: 50%;
    border: 6px solid #1877F2;
  }
  
  .upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }
  .btn-warning{
    position: relative;
    padding: 11px 30px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 6px;
    color: #fff;
    background-color: #1877F2;
    border: 0;
    transition: 0.2s;
    overflow: hidden; 
    font-size: large;
  }
  
  .btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
  }
  
  .btn-warning:hover{
    background-color: #006eff;
  }