@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#single-box{
    background-image: url(photos/orange-header-bg.png);
    background-position: right 0;
    background-size: 65%;
    height: 100hv;
    background-repeat: no-repeat;
}
.single-box{
    
    position: absolute;
    padding: 5rem;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: #359aff;
    z-index: -1;
}




.banner{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner h2{
    color: #000000;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
    
    z-index: 1;
}


.banner p{
    color: #fff;
    font-size: 30px;
    line-height: 2;
    margin: 5px;
    z-index: 1;
}

.banner a{
    text-decoration: none;
    background: #2561f8;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    z-index: -1;
}
/*section .img{
    
    height: 100vh;
    background-image: url(istockphoto-1307598870-1024x1024.jpg);
    
    background-size: cover;
    background-position: center;
}

section .img::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(-225deg,#001eff,#000fb1);
    z-index: 1;
    mix-blend-mode: screen;
}

*/

#home-page{
    display: flex;
    align-items: center;
    height: calc(110vh - 50px);
    flex-direction: column;
    padding: 50px 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 100000;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    
}

nav .nav-bar .siderbarOpen{
    color: black;
    margin-left: 20px;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo {
    position: relative;
    margin-left: 20px;
    top: 0;
    left: 0;
    width: 70px;
    padding: 0;

}
.nav_menu .logo-toggle{
    display: none;
 }

 .nav_menu  hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
    display: none;
 }
 .nav_menu .logo-toggle  .logo-sider{
    display: flex;
    align-items: center;
 }

 .nav_menu .logo-toggle  .logo-sider img{
    width: 70px;
    height: 50px;
    
 }

.nav_menu .logo-toggle  .logo-sider h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
 }
 .nav_menu .logo-toggle .logo-sider  h2::first-letter{
    color: #000000;
    font-size: 150%;
 }


.nav-bar .nav_lists{
    display: flex;
    align-items: center;
}

.nav-bar .nav_lists li{
    margin: 0 5px;
    padding: 0;
    list-style: none;
}

.nav_lists li a {
    position: relative;
    float: left;
    font-size: large;
    font-weight: 500;
    color: #1877F2;
    text-decoration: none;
    padding: 10px;
}

/*.nav_lists li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #1877F2;
    opacity: 0;
    transition: all 0.3 ease;
}*/


.nav_lists li:hover a::before{
    opacity: 1;
}

.nav-bar .nav_action{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #1877F2;
    font-size: 22px;
    align-items: center;
    
    margin-right: 10px;
    cursor: pointer;
    
}

.nav_lists li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.nav_lists .mega-box{
    position: absolute;
    top: 60px;
    width: 100%;
    left: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.mega-box .content{
    background: #fff;
    padding: 25px 20px;
    display: flex;
    width: 70%;
    justify-content:space-evenly;
}

.content .row{
    width: calc(25% - 30px);
    line-height: 30px;
}

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0 20px;
}

.content .row .mega-links{
    border-left: 1px solid rgba(255, 255, 255, 0);
    margin-left: -40px;
}

.row .mega-links li{
    padding: 0 20px;
}

.row .mega-links li a{
    padding: 0 20px;
    color: #525252;
    font-size: 12px;
    display: block;
}

.row .mega-links li a:hover{
    color: #222;
}
.content .row header{
    color: #1877F2;
    font-size: 25px;
    font-weight: 500;
}
.nav_action .searchToggle,.email,.notification,.profile{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

.searchToggle i{
    position: absolute;
    color: #1877F2;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}


.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #2d5ff4;
    padding: 3px;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px ;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 20px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: #1877F2;
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    color: #4169E1;
}

.search-field i{
    position: absolute;
    color: #4169E1;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden; 
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}
nav .img-prof{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    
}

.sub-menu{
    background-color: #e5e5e5;
    backdrop-filter: blur(50px);
    padding: 15px;
    margin: 20px;
    color: #525252;
}

.user-info{
    display: flex;
    align-items: center;
}
.user-info a{
    text-decoration: none;
}

.user-info h3{
    font-weight: 500;
    font-size: x-large;
    color: #000000;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu{
    padding: 25px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin:  12px 0;
}

.sub-menu-link p{
    width: 100%;
    font-size: large;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: large;
    transition: transform 0.5s ;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}



@media (max-width: 790px){
    nav .nav-bar .siderbarOpen{
        display: block;
    }
    .banner{
        font-size: small;
        width: 100%;
        padding: 20px;
        
        z-index: 3;
        transition: all 0.4s ease;
    }
    .nav_menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 100000;
        transition: all 0.4s ease;
    }

    nav.active .nav_menu{
        left:-0% ;
    }

    .nav_menu .logo-toggle{
       display: block;
       width: 100%;
       display: flex; 
       align-items: center;
       justify-content: space-around;
    }

    .logo-toggle .siderbarClose{
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav_lists{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav_lists li a {
        display: block;
        margin-top: 20px;
    }

    /* mega menu*/

    

}




/* profile salider*/
#profilesilder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

h2{
    margin-top: 25px;
    font-size: 30px;
    color: #1877F2;
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
    
}



.card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 360px;
    width: 296px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.swiper{
    width: 950px;
}
section{
    position: relative;
    width: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}

section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.box1{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #1877F2 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}

.box2{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #f3a60f 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}

.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icons i:hover{
    opacity: 1;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: orange;
}
section .card .about{
    display: flex;
    text-align: center;
    color: #444;
    margin-top: 45px;
    margin-bottom: 5px; 
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card .b1 button{
    background: #1877F2;
}

.card .button button{
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .button button:hover{
    opacity: 0.8;
}
.swiper-pagination{
    position: absolute;
    top: 510px;
}
.swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: #359aff;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #359aff;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #359aff;
}



  

